@import "tailwindcss";
@plugin "daisyui";

.nav-font {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

.active{

  color: black;
  
  
}
.element {
  transition: all 0.2s ease-out;
}

.element:hover {
  transform: scale(1.06) rotate(0deg) translate(0px, 0px) skewX(0deg);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  opacity: 1;
  filter: brightness(1);
  
  
}
.btn-details {
  transition: all 0.3s ease-in;
}

.btn-details:hover {
  transform: scale(1.05) rotate(0deg) translate(0px, 0px) skewX(0deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  opacity: 1;
  filter: brightness(1.1);
  background-color: #CC5500;
  color: #ffffff;
}
